:root {
    --blue: #2686DF;
    --blue-ghost: #D4E7F9;
    --orange: #F56514;
    --black: #141414;
    --title-color: #141414;
    --text: #626262;
    --super-light: #CACACA;
    --red: #E22C2C;
    --light-red: #F26262;
    --orange1: #F56514;
    --orange2: #F58E14;
    --orange3: #FFB800;
    --orange4: #FA9916;
    --orange5: #FAB54E;
    --green1: #ABD15B;
    --green2: #9BB437;
    --green2: #7DB447;
    --green3: #83C339;
    --green4: #A1D163;
    --blue1: #4899B2;
    --blue2: #6EAEEA;
    --blue3: #6E89EA;
    --blue4: #4D6EE7;
    --blue5: #7896EE;
		--purple1: #944AE6;
		--purple2: #B279EE;
  }
  
.money-card {
  width: 166px;
  height: 62px;
}

.money-card-body {
  padding: 15px 11px;
}

.money-card-title {
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
}

.money-card-subtitle {
  font-family: 'Open Sans';
  font-size: 10px;
}

.card-container {
  padding: 6px 5px 13px 17px;
}  

.account-card {
  height: 87px;
  width: 107px;
}

.account-card-body, .goal-card-body {
  padding: 10px;
}

.account-card-title {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  padding: 4px 0 0 3px;
}

.account-card-subtitle {
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
  padding: 0 0 0 3px;
}

.card-icon {
  width: 30px;
}

.first-heading-container {
  padding-bottom: 11px;
  padding-left: 8px; 
}

.heading-container {
  padding: 0px 0px 4px 8px
}

.red-card {
	background: linear-gradient(var(--light-red), 40%, var(--red));
}

.green-card {
  background: linear-gradient(var(--green4), 40%, var(--green3));
}

.orange-card {
	background: linear-gradient(var(--orange5), 40%, var(--orange4));
}

.blue-card {
	background: linear-gradient(var(--blue5), 40%, var(--blue4));
}

.violet-card {
	background: linear-gradient(var(--purple2), 40%, var(--purple1));
}

.progress-in-process {
  background-color: var(--blue-ghost) !important;
}

.progress-bar-in-process {
  background-color: var(--blue) !important;
}

.progress-bar-done {
	background-color: var(--green2) !important;
  width: 100%
}

.text-done {
  color: var(--green2) !important;
}

.arrow-right {
  width:24px;
  height:24px;
  fill: var(--blue);
}

.arrow-right:active {
  fill: var(--blue2) !important;
}

.goal-card {
  width: 166px;
  height: 115px;
}

.goal-card-title {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  padding-top: 5px;
}

.goal-card-subtitle {
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
  margin-bottom: 6px;
}

.goal-card-paragraph {
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
  margin: 0;
  font-weight: 700;
  padding-top: 4px;
}

.card-block-title {
  font-family: 'Roboto Mono', monospace;
  font-size: 16px;
}
